<mat-card appearance="raised" [ngClass]="{ selected: isSelected() }">
  <mat-card-content>
    <mat-card-header class="flex-container">
      <div
        class="connection-status"
        [ngClass]="connectionClass()"
        [matTooltip]="connectionTooltip()"></div>

      <div class="title-row-action">
        <mat-checkbox
          class="device-checkbox"
          [ngClass]="{ visible: showCheckbox() }"
          (change)="onDeviceChecked($event.checked)"
          (click)="$event.stopPropagation()"></mat-checkbox>
        <div class="device-icon" [ngClass]="{ visible: !showCheckbox() }">
          <mat-icon
            aria-hidden="true"
            aria-label="Device Icon"
            fontIcon="lightbulb"></mat-icon>
        </div>
      </div>

      <app-device-info-two-rows
        [deviceWithState]="deviceWithState()"
        class="title-row"></app-device-info-two-rows>

      <div>
        <mat-slide-toggle
          checked="{{ deviceWithState().stateInfo?.state?.isOn }}"
          hideIcon="true"
          (change)="toggleSwitch($event.checked)"
          (click)="$event.stopPropagation()"></mat-slide-toggle>
      </div>
    </mat-card-header>
    <mat-card-actions>
      <mat-slider
        min="0"
        max="255"
        step="1"
        discrete
        (click)="$event.stopPropagation()">
        <input
          matSliderThumb
          value="{{ deviceWithState().stateInfo?.state?.brightness }}"
          [(ngModel)]="brightness" />
      </mat-slider>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
